.coinInfo {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1.3fr 1fr;
  align-items: end;
  margin: 12px;
  padding-bottom: 8px;
  padding-top: 0px;

  border-bottom: 1px solid #122128;
}

#coinSymbol {
  color: rgb(196, 186, 186);
  text-decoration: none;
  font-weight: bold;
}

#coinSymbol:hover {
  color: white;
  cursor: pointer;
}

#coinThumb:hover {
  cursor: pointer;
}
