#searchInput {
  background-color: #f7fdff;
  color: #1d4453;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  width: 30%;
  height: 25px;
  padding: 8px;
  margin-right: 20px;
  outline: none;
}

.searchList {
  position: absolute;
  background-color: black;
}

.searchList li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: rgba(37, 37, 37, 0.238);
}

.searchList a {
  color: #abafb1;
  text-decoration: none;
}

.searchList a:hover {
  color: #ffffff;
}
