#searchInput {
  background-color: #f7fdff;
  color: #1d4453;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  width: 30%;
  height: 25px;
  padding: 8px;
  margin-right: 20px;
  outline: none;
}
