.spinner {
  text-align: center;
  padding: 200px;
}

.titleOfTable {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1.3fr 1fr;
  margin: 14px;
  font-weight: 700;
  border-bottom: 2px solid #dadfe2;
  padding-bottom: 10px;
}
