.HomePage {
  max-width: 1100px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#selectCurrency {
  background-color: #e8e9e9;
  border-radius: 8px;
  outline: none;
  color: #092834;
  font-weight: bold;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  outline: none;
}
